@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>

​Scenario 

Contozoo would like you to start your developer role by creating them a website which displays their basic information. They have provided the following requirements below: Create web application. Add Contozoo description and test.Add Contozoo hours and test. Here is the content from the customer. This content should be added to the website (format as needed) 

Description: 

PLAN YOUR VISIT. The Contozoo Zoo in Madison, WI is one of only a handful of admission-free, community-supported zoos in the country. Fully accredited by the Association of Zoos and Aquariums, our beautiful zoo features exhibits and attractions for the whole family! The zoo relies on support from the community to remain open and admission-free. If you’d like help, please leave a donation in the donation tubes located throughout the zoo or donate online. All are welcome at the Contozoo Zoo! 

 </p>
</div>
